{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">Single Products</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="ec-breadcrumb-item active">Products</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->

<!-- Sart Single product -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="ec-pro-rightside ec-common-rightside col-lg-9 order-lg-last col-md-12 order-md-first">

                <!-- Single product content Start -->
                <div class="single-pro-block">
                    <div class="single-pro-inner">
                        <div class="row">
                            <div class="single-pro-img">
                                <div class="single-product-scroll">
                                    <div class="single-product-cover">
                                        {% for i in product_obj.images.all %}
                                        <div class="single-slide">
                                            <img class="img-responsive"
                                                 src="{{ i.image.url }}"
                                                 alt="">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="single-nav-thumb">
                                        {% for i in product_obj.images.all %}
                                        <div class="single-slide">
                                            <img class="img-responsive"
                                                 src="{{ i.image.url }}"
                                                 alt="">
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="single-pro-desc">
                                <div class="single-pro-content">
                                    <h5 class="ec-single-title">{{ product_obj.name }}</h5>
                                    <div class="ec-single-desc">{{ product_obj.description }}
                                    </div>
                                    <div class="ec-single-price-stoke">
                                        <div class="ec-single-price">
                                            <span class="ec-single-ps-title">Narx</span>
                                            <span class="new-price">{{ product_obj.price }} сум</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single product content End -->
            </div>
        </div>
    </div>
</section>
<!-- End Single product -->
{% endblock %}