{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">Shop</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="">Home</a></li>
                            <li class="ec-breadcrumb-item active">Shop</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->

<!-- Ec Shop page -->
<section class="ec-page-content-bnr section-space-pb">
    <div class="container">
        <div class="row">
            <div class="ec-shop-rightside col-lg-12 order-lg-last col-md-12 order-md-first margin-b-30">
                <!-- Shop Top Start -->
<!--                <div class="ec-pro-list-top d-flex">-->
<!--                    <div class="col-md-6 ec-grid-list">-->
<!--                        <div class="ec-gl-btn">-->
<!--                            <button class="btn btn-grid active"><i class="fi-rr-apps"></i></button>-->
<!--                            <button class="btn btn-list"><i class="fi-rr-list"></i></button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 ec-sort-select">-->
<!--                        <span class="sort-by">Sort by</span>-->
<!--                        <div class="ec-select-inner">-->
<!--                            <select name="ec-select" id="ec-select">-->
<!--                                <option selected disabled>Position</option>-->
<!--                                <option value="1">Relevance</option>-->
<!--                                <option value="2">Name, A to Z</option>-->
<!--                                <option value="3">Name, Z to A</option>-->
<!--                                <option value="4">Price, low to high</option>-->
<!--                                <option value="5">Price, high to low</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!-- Shop Top End -->

                <!-- Shop content Start -->
                <div class="shop-pro-content">
                    <div class="shop-pro-inner">
                        <div class="row">
                            {% for i in product_obj %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-6 pro-gl-content">
                                <div class="ec-product-inner">
                                    <div class="ec-pro-image-outer">
                                        <div class="ec-pro-image">
                                            <a href="{% url 'product:product_detail' i.slug %}" class="image">
                                                <img class="main-image"
                                                     src="{{ i.image.url }}" alt="Product"/>
                                                <img class="hover-image"
                                                     src="{{ i.image.url }}" alt="Product"/>
                                            </a>
                                            <span class="percentage">{{ i.status.title }}</span>
                                        </div>
                                    </div>
                                    <div class="ec-pro-content">
                                        <h5 class="ec-pro-title"><a href="{% url 'product:product_detail' i.slug %}">{{ i.name }}</a></h5>
                                        <div class="ec-pro-list-desc">{{ i.description|truncatechars:150 }}
                                        </div>
                                        {% if i.discount_price %}
                                            <strike><span class="old-price">{{ i.discount_price }}  сум</span></strike>
                                        {% endif %}
                                        <span class="ec-price">
                                                <span class="new-price">{{ i.price }} сум</span>
                                            </span>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Ec Pagination Start -->

                    <div class="ec-pro-pagination">
                        <span>Showing {{ product_obj.start_index }}-{{ product_obj.end_index }} of {{ product_obj.paginator.count }} item(s)</span>
                        <li class="ec-pro-pagination-inner">
                            {% if product_obj.has_previous %}
                        <li><a class="next" href="{{ product_obj.previous_page_number }}"><i
                                class="ecicon eci-angle-left"></i>Previous</a></li>
                        <li><a href="?page=1">1</a></li>
                        {% endif %}
                        {% if product_obj.number|add:'-3' > 1 %}
                        <li><a>...</a></li>
                        {% endif %}
                        {% if product_obj.number|add:'-2' > 1 %}
                        <li><a href="?page={{ product_obj.number|add:'-2' }}">{{ product_obj.number|add:'-2' }}</a>
                        </li>
                        {% endif %}
                        {% if product_obj.number|add:'-1' > 1 %}
                        <li><a href="?page={{ product_obj.number|add:'-1' }}">{{ product_obj.number|add:'-1' }}</a>
                        </li>
                        {% endif %}
                        <li><a class="active" href="#">{{ product_obj.number }}</a></li>
                        {% if product_obj.number < product_obj.paginator.num_pages|add:'-1' %}
                        <li><a href="?page={{ product_obj.number|add:'1' }}">{{ product_obj.number|add:'1' }}</a></li>
                        {% endif %}
                        {% if product_obj.number < product_obj.paginator.num_pages|add:'-2' %}
                        <li><a href="?page={{ product_obj.number|add:'2' }}">{{ product_obj.number|add:'2' }}</a></li>
                        {% endif %}
                        {% if product_obj.number < product_obj.paginator.num_pages|add:'-3' %}
                        <li><a>...</a></li>
                        {% endif %}
                        {% if product_obj.has_next %}
                        <li><a href="?page={{ product_obj.paginator.num_pages }}">
                            {{ product_obj.paginator.num_pages }}</a></li>
                        <li><a class="next" href="?page={{ product_obj.next_page_number }}">Next <i
                                class="ecicon eci-angle-right"></i></a></li>
                        {% endif %}
                    </div>
                    <!-- Ec Pagination End -->
                </div>
                <!--Shop content End -->
            </div>
            <!-- Sidebar Area Start -->
        </div>
    </div>
</section>
<!-- End Shop page -->
{% endblock %}