{% extends "base.html" %}
{% load static %}
{% block css %}
<style>
    @media screen and (max-width: 768px) {
        .media_screen_container {
            display: none;
        }

    }

    @media screen and (min-width: 768px) {
        .media_class {
            display: none;
        }
    }
</style>
{% endblock %}
{% block content %}



<!-- Main Slider Start -->
<div class="sticky-header-next-sec ec-main-slider section section-space-pb">
    <div class="ec-slider swiper-container main-slider-nav main-slider-dot">
        <!-- Main slider -->
        <div class="swiper-wrapper">
            <div class="ec-slide-item swiper-slide d-flex ec-slide-1">
                <div class="container align-self-center">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ec-slide-item swiper-slide d-flex ec-slide-2">
                <div class="container align-self-center">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-white"></div>
        <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<!-- Main Slider End -->
<section class="ec-page-content-bnr section-space-pb media_class">
    <div class="container">
        <div class="row">
            <div class="ec-shop-rightside col-lg-12 order-lg-last col-md-12 order-md-first margin-b-30">
                <!-- Shop Top Start -->
<!--                <div class="ec-pro-list-top d-flex">-->
<!--                    <div class="col-md-6 ec-grid-list">-->
<!--                        <div class="ec-gl-btn">-->
<!--                            <button class="btn btn-grid active"><i class="fi-rr-apps"></i></button>-->
<!--                            <button class="btn btn-list"><i class="fi-rr-list"></i></button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 ec-sort-select">-->
<!--                        <span class="sort-by">Sort by</span>-->
<!--                        <div class="ec-select-inner">-->
<!--                            <select name="ec-select" id="ec-select">-->
<!--                                <option selected disabled>Position</option>-->
<!--                                <option value="1">Relevance</option>-->
<!--                                <option value="2">Name, A to Z</option>-->
<!--                                <option value="3">Name, Z to A</option>-->
<!--                                <option value="4">Price, low to high</option>-->
<!--                                <option value="5">Price, high to low</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!-- Shop Top End -->

                <!-- Shop content Start -->
                <div class="shop-pro-content">
                    <div class="shop-pro-inner">
                        <div class="row">
                            {% for i in product_obj %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-6 pro-gl-content">
                                <div class="ec-product-inner">
                                    <div class="ec-pro-image-outer">
                                        <div class="ec-pro-image">
                                            <a href="{% url 'product:product_detail' i.slug %}" class="image">
                                                <img class="main-image"
                                                     src="{{ i.image.url }}" alt="Product"/>
                                                <img class="hover-image"
                                                     src="{{ i.image.url }}" alt="Product"/>
                                            </a>
                                            <span class="percentage">{{ i.status.title }}</span>
                                        </div>
                                    </div>
                                    <div class="ec-pro-content">
                                        <h5 class="ec-pro-title"><a href="{% url 'product:product_detail' i.slug %}">{{ i.name }}</a></h5>
                                        <div class="ec-pro-list-desc">{{ i.description|truncatechars:150 }}
                                        </div>
                                        {% if i.discount_price %}
                                            <strike><span class="old-price">{{ i.discount_price }}  $</span></strike>
                                        {% endif %}
                                        <span class="ec-price">
                                            <span class="new-price">{{ i.price }} $</span>
                                        </span>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Ec Pagination Start -->

                    <div class="ec-pro-pagination">
<!--                        <span onclick="showMoreProducts()">Yana ko'rsatish</span>-->

                    </div>
                    <!-- Ec Pagination End -->
                </div>
                <!--Shop content End -->
            </div>
            <!-- Sidebar Area Start -->
        </div>
    </div>
</section>


<div class="container media_screen_container">
    <div class="row">
        <div class="col-md-3">
            <div class="scroll-container" style="width: 250px;
                height: 300px;
                overflow: auto;
                margin-left: 5%;">
                <div class=" scroll-content" style=" padding: 10px;">
                    {% for i in all_category %}
                    <a><h5 class="ec-pro-title">{{ i.name }}</h5></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="row">
                    {% for i in obj_list %}
                        <div class="col-lg-4 col-md-6">
                                <div class="ec-product-inner">
                                    <div class="ec-pro-image-outer">
                                        <div class="ec-pro-image">
                                            <a href="{% url 'product:product_detail' i.slug %}" class="image">
                                                <img class="main-image"
                                                     src="{{ i.image.url }}" alt="Product"/>
                                                <img class="hover-image"
                                                     src="{{ i.image.url }}" alt="Product"/>
                                            </a>
                                            <span class="percentage">{{ i.status.title }}</span>
                                        </div>
                                    </div>
                                    <div class="ec-pro-content">
                                        <h5 class="ec-pro-title"><a href="{% url 'product:product_detail' i.slug %}">{{ i.name }}</a></h5>
                                        <div class="ec-pro-list-desc">{{ i.description|truncatechars:150 }}
                                        </div>
                                        {% if i.discount_price %}
                                            <strike><span class="old-price">{{ i.discount_price }}  $</span></strike>
                                        {% endif %}
                                        <span class="ec-price">
                                                <span class="new-price">{{ i.price }} $</span>
                                            </span>

                                    </div>
                                </div>
                            </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-inner">
                                    <div class="ec-pro-image-outer">
                                        <div class="ec-pro-image">
                                            <a href="{% url 'product:product_detail' i.slug %}" class="image">
                                                <img class="main-image"
                                                     src="{{ i.image.url }}" alt="Product"/>
                                                <img class="hover-image"
                                                     src="{{ i.image.url }}" alt="Product"/>
                                            </a>
                                            <span class="percentage">{{ i.status.title }}</span>
                                        </div>
                                    </div>
                                    <div class="ec-pro-content">
                                        <h5 class="ec-pro-title"><a href="{% url 'product:product_detail' i.slug %}">{{ i.name }}</a></h5>
                                        <div class="ec-pro-list-desc">{{ i.description|truncatechars:150 }}
                                        </div>
                                        {% if i.discount_price %}
                                            <strike><span class="old-price">{{ i.discount_price }}  $</span></strike>
                                        {% endif %}
                                        <span class="ec-price">
<!--                                                <span class="old-price">$27.00</span>-->
                                                <span class="new-price">{{ i.price }} $</span>
                                            </span>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Category Section Start -->
<section class="section ec-category-section section-space-p" id="categories">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Our Top Collection</h2>
                    <h2 class="ec-title">Top Categories</h2>
                    <p class="sub-title">Browse The Collection of Top Categories</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!--Category Nav Start -->
            <div class="col-lg-3">
                <ul class="ec-cat-tab-nav nav">
                    <li class="cat-item">
                        <a class="cat-link active" data-bs-toggle="tab" href="#{{ default_category.slug }}">
                            <div class="cat-icons">
                                <img class="cat-icon" src="{{ default_category.image.url }}" alt="cat-icon">
                                <img class="cat-icon-hover" src="{{ default_category.image.url }}" alt="cat-icon">
                            </div>
                            <div class="cat-desc">
                                <span>{{ default_category.name }}</span>
                                <span>{{ default_category.product_set.all | length }} Products</span>
                            </div>
                        </a>
                    </li>
                    {% for i in category %}
                        <li class="cat-item">
                            <a class="cat-link" data-bs-toggle="tab" href="#{{ i.slug }}">
                                <div class="cat-icons">
                                    <img class="cat-icon" src="{{ i.image.url }}" alt="cat-icon">
                                    <img class="cat-icon-hover" src="{{ i.image.url }}" alt="cat-icon">
                                </div>
                                <div class="cat-desc">
                                    <span>{{ i.name }}</span>
                                    <span>{{ i.product_set.all | length }} Products</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Category Nav End -->
            <!--Category Tab Start -->
            <div class="col-lg-9">
                <div class="tab-content">
                    <!-- 1st Category tab end -->
                    <div class="tab-pane fade show active" id="{{ default_category.slug }}">
                        <div class="row">
                            <img src="{{ default_category.image.url }}" alt=""/>
                        </div>
                        <span class="panel-overlay">
                            <a href="{% url 'product:product_list' default_category.slug %}" class="btn btn-primary">View All</a>
                        </span>
                    </div>
                    {% for i in category %}
                    <div class="tab-pane fade" id="{{ i.slug }}">
                        <div class="row">
                            <img src="{{ i.image.url }}" alt=""/>
                        </div>
                        <span class="panel-overlay">
                                    <a href="{% url 'product:product_list' i.slug %}"
                                       class="btn btn-primary">View All</a>
                            </span>
                    </div>
                    {% endfor %}
                </div>
                <!-- Category Tab End -->
            </div>
        </div>
    </div>
</section>
<!-- Category Section End -->


<!--  services Section Start -->
<section class="section ec-services-section section-space-p" id="services">
    <h2 class="d-none">Services</h2>
    <div class="container">
        <div class="row">
            <div class="ec_ser_content ec_ser_content_1 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <i class="fi fi-ts-truck-moving"></i>
                    </div>
                    <div class="ec-service-desc">
                        <h2>Free Shipping</h2>
                        <p>Free shipping on all US order or order above $200</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_2 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <i class="fi fi-ts-hand-holding-seeding"></i>
                    </div>
                    <div class="ec-service-desc">
                        <h2>24X7 Support</h2>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_3 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <i class="fi fi-ts-badge-percent"></i>
                    </div>
                    <div class="ec-service-desc">
                        <h2>30 Days Return</h2>
                        <p>Simply return it within 30 days for an exchange</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_4 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <i class="fi fi-ts-donate"></i>
                    </div>
                    <div class="ec-service-desc">
                        <h2>Payment Secure</h2>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--services Section End -->

{% endblock %}
{% block script %}

{% endblock %}
